<!DOCTYPE html>
<html>
    <head>
        <title>Advent of Code {% block title %}{% endblock %}</title>
        <link rel="icon" href="/favicon.png" type="image/png" />
        <style>
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
* {
    background-color: #0F0F23;
    color: #CCBD9B;
    font-family: 'Source Code Pro', monospace;
}
button, textarea {
    background: #2D2D41;
}
a {
    color: #008817;
    display: block;
}
a:hover {
    color: #75FF7A;
}
    </style>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
