{% extends "base.njk" %}
{% block title %}Archives{% endblock %}
{% block body %}
{% for i in range(2015, 2022) -%}
{% if unlock[i] > 0 %}<a href="{{ i }}">[{{ i }}]</a>{% endif %}
{%- endfor %}
{% endblock %}