{% extends "base.njk" %}
{% block title %}{{ path.split("/")[1] }}{% endblock %}
{% block body %}
<a href=".."><h1>Back</h1></a>
<p id="out"></p>
<textarea id="input"></textarea><br>
<button id="run">Get Answer</button>
<script src="{{ path }}.js"></script>
{% endblock %}