* {
  font-family: 'M PLUS 1 Code', sans-serif;
  color: white;
  background: black;
}
a {
  color: green;
}
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@300&display=swap');
