{% extends "base.njk" %}
{% block title %}{{ path.split("/")[1] }}{% endblock %}
{% block body %}
{% for i in range(1, 26) -%}
<a href="{{ path.split("/")[1] }}/{{ i }}">[Day {{ i }}]</a>
{%- endfor %}
{% endblock %}